* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

:root {
  --colorPage-primary: #3a3939;
  --colorPage-secondary: white;
  --colorFont-primary: antiquewhite;
  --colorFont-secondary:black;
  --colorFont-hover:rgb(184, 181, 133);

}
a {
 color: var(--colorFont-primary);
 text-decoration: none;

}

a:hover{
  color: var(--colorFont-hover)
}

hr {
  width: 15rem;
}

textarea {
  background: var(--colorPage-secondary);
  color: var(--colorFont-secondary);
}

body {
  background: var(--colorPage-primary);
  color: var(--colorFont-primary);
}

h2 {
  font-size: 18px;
}

img {
  margin: 10px;
}

input {
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
  margin: 5px;
}

button {
  width: 7.5rem;
  height: 2rem;
  border-radius: 8px;
}

div {
  padding: 1.5px 0;
}

.conteiner {
  border: solid 1px rgb(180, 180, 180);
  width: 17rem;
  height: 24rem;
}

.top {
  display: flex;
  flex-direction: column;
  background: #202124;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center
}

.type-conversion{
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-conversion li {
  padding: 0 1.5px;
 
}

.type-conversion li a {
  border: solid 1px rgb(180, 180, 180);
  background-color: #3a3939;
  padding: 0 1px;
}


.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.transform {
  display: flex;
  align-items: center;
  flex-direction: column;
 

}

.result {
  border-radius: 8px;
  text-align: center;
  max-width: 15rem;
  max-height: 6rem;
  min-width: 13rem;
  min-height: 4rem;
}

.block-copy {
  display: flex;
  align-items: center;
}

.block-copy .copy {
  margin-right: 5px;
}

.buttons-text{
  align-items: center;
}