* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

:root {
  --colorPage-primary: #3a3939;
  --colorFont-primary: antiquewhite;
}

hr {
  width: 15rem;
}

body {
  background: var(--colorPage-primary);
  color: var(--colorFont-primary);
}

h2 {
  font-size: 18px;
}

img {
  margin: 10px;
}

input {
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
  margin: 5px;
}

button {
  width: 10rem;
  height: 2rem;
  border-radius: 8px;
}

div {
  padding: 2px;
}

.conteiner {
  border: solid 1px rgb(180, 180, 180);
  width: 17rem;
  height: 20rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202124;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.transform{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


.line {
  width: 15rem;
  border: 2px solid rgb(150, 133, 133);
}

.result {
  border-radius: 8px;

  text-align: center;
  max-width: 15rem;
  max-height: 6rem;
}

.block-copy {
  display: flex;
  align-items: center;
}

.block-copy .copy {
  margin-right: 5px;
}
